# Sistemas operativos y editores
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Python / notebooks
__pycache__/
.ipynb_checkpoints/
*.pyc
.env
.venv/

# Archivos de ejecución local y salidas generadas
*.log
*.tmp
*.sol
*.nl
*.row
*.col
*.mod
*.run

# LaTeX
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
